<!DOCTYPE html>
<html>
<head>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{api}}&callback=initialize">
    </script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',
filename='css/style.css') }}"/>
</head>
<body>
<h3>Crime App</h3>
<p>A map of recent criminal activity in the Area</p>
<div id="map_canvas"></div>

<div id="newcrimeform">
    <h2>Submit a crime</h2>
    {% if error_message %}
        <div id="error"><p>{{error_message}}</p></div>
    {% endif %}
    <form action="/submitcrime" method="POST">
        <label for="category">Category</label>
        <select name="category" id="category">
            {% for category in categories %}
            <option value="{{category}}">{{category}}</option>
            {% endfor %}
        </select>
        <label for="date">Date</label>
        <input name="date" id="date" type="date">
        <label for="latitude">Latitude</label>
        <input name="latitude" id="latitude" type="text" readonly>
        <label for="longitude">Longitude</label>
        <input name="longitude" id="longitude" type="text" readonly>
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="A brief but detailed
description of the crime"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
</body>

<script>

    var map;
    var marker;

    function initialize() {


        var myLatlng = new google.maps.LatLng(10.657014851246759, -61.4740526676178);

        var myOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        marker = new google.maps.Marker({
            draggable: true,
            position: myLatlng,
            map: map,
            title: "Your location"
        });


        google.maps.event.addListener(map, 'click', function (event) {

            placeMarker(event.latLng);
        });
        placeCrimes({{crimes | safe}});
    }

    function placeMarker(location) {
        if (marker) {
            marker.setPosition(location);
        } else {
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        document.getElementById('latitude').value = location.lat();
        document.getElementById('longitude').value = location.lng();
    }

    function placeCrimes(crimes) {
        for (i = 0; i < crimes.length; i++) {
            crime = new google.maps.Marker({
                    position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),
                    map: map,
                    title: crimes[i].date + "\n" +
                    crimes[i].category + "\n" + crimes[i].description
                }
            );
        }
    }
    google.maps.event.addDomListener(window, "load", initialize());

</script>

</html>